body {
    margin: 0;
    font-family: 'Merienda', cursive;
}


.containerheader {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pizzeria.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


.header {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

p {
    color: white;
    height: 40vh;
    width: 40vw;
    transform: translate(30vw, 5vh);
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 80px;
}

#mamma {
    font-size: 20vh;
    color: #ECDB50;
}