/*************** Début du Style général ***************/
body {
  margin: 0;
}
h2{
  font-family: "Merienda", cursive;
}
.yellow{
  color: #ECDB50;
}

.blue{
  color:#5F97C3;
}

.bg-yellow{
  background-color: #ECDB50;
}

.bg-blue{
  background-color: #5F97C3 ;
}

/*************** Fin du Style général ***************/

/*************** Début du header ***************/


/*************** Fin du header ***************/

/*************** Début du main ***************/

/*************** Fin du main ***************/

/*************** Début du presentation ***************/


/*************** Fin du presentation ***************/

/*************** Début du photos ***************/

/*************** Fin du photos ***************/




/*************** Début du photos ***************/

/*************** Fin du photos ***************/

/*************** Début du contact ***************/









/*************** Fin du contact ***************/

/*************** Début du form ***************/

/*************** Fin du form ***************/

/*************** Début du footer ***************/


/*************** Fin du footer ***************/